<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="inqueryselectlist_Fragment">

        <p class="mt-4" style="font-size: 2.5rem; font-weight: lighter;">문의</p>
        <hr style="border: 2px solid; color: forestgreen; width : 15%; position: relative; top: -10px;"  />
        <table class="table teble-hover text-striped text-center" style="border: 1px rgb(184, 181, 181) ;
        position: relative; top: -20px; width: 95%; ">
        <br />
        <thead>
            <tr>
                <th scope="no">글번호</th>
                <th scope="title">제목</th>
                <th scope="id">작성자ID</th>
                <th scope="regdate">작성날짜</th>
            </tr>
        </thead>
        <tbody>
            <td >1</td>
            <td >환불방법이 어떻게 되나요?</td>
            <td >문의남</td>
            <td >2023.05.28</td>
        </tbody>
        </table>
        <ul class="pagination justify-content-center">
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold;"
                class="text-secondary">◀</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">1</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">2</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">3</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">4</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">5</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">6</a></li>
        <li><a href="#" style="margin-right: 10px;text-decoration: none;font-size: 20px;font-weight: bold"
                class="text-secondary">▶</a></li>
        </ul>   
</body>
</html>

