html,
body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
	/* padding-bottom: 60px; */
}

footer {
	position: relative;
	/* transform: translateY(-30%); */
}

/***** datepicker css *****/
.ui-widget-header {
	border: 0px solid #dddddd;
	background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	font-weight: bold;
}

.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	padding-bottom: 10px;
	width: 300px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.ui-widget.ui-widget-content {
	border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
	display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-calendar {
	width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}

.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}

.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-widget-header .ui-icon {
	background-image:
		url('../../image/btns.png');
}

.ui-icon-circle-triangle-e {
	background-position: -20px 0px;
	background-size: 36px;
}

.ui-icon-circle-triangle-w {
	background-position: -0px -0px;
	background-size: 36px;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: red !important;
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: #0099ff !important;
}

.ui-datepicker-calendar>thead>tr>th:first-child {
	color: red !important;
}

.ui-datepicker-calendar>thead>tr>th:last-child {
	color: #0099ff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}

.inp:focus {
	outline: none;
	background-color: #eee;
}

/***** 클래스 조회 css *****/

.searchhead {
	padding: 4px 0;
}

.searchhead_map {
	padding: 7px 0;
}

.card {
	/* font-family: ; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 300ms;
}

.card:hover {
	filter: drop-shadow(0 0 6px rgb(150, 190, 190, 80%));
	transform: translateY(-1px);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.card-header {
	font-weight: bold;
	background: rgb(181, 228, 228);
	/* 	background: linear-gradient(180deg, rgba(181,228,228,0.7) 0%, rgba(224,244,238,0) 100%); */
	--bs-card-border-width: 0;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: auto;
	height: 130px;
	margin-left: -144px;
	text-align: left;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px greenyellow;
}

.info .head {
	height: 30px;
	background: rgb(247, 249, 247);
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.info .close {
	width: 15px;
	height: 15px;
	background: url(../../image/x-circle.svg);
	background-size: cover;
	border: none;
	margin-left: 5px;
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	display: flex;
	height: 90px;
	width: auto;
}

.info .infobox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.infobox .address {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;} */

.info .imgbox {
	width: 30%;
}

.info img {
	position: absolute;
	width: 30%;
	height: 90px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
	border-bottom-left-radius: 5px;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

.local{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid rgb(0, 150, 136);
    border-radius: 3px;
    min-width: 3rem;
    color: rgb(81, 91, 96);
    background-color: rgb(242, 250, 249);
    font-size: 12px;
    line-height: 13px;
    font-family: "Noto Sans KR";
    font-style: normal;
}

.price{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid rgb(0, 150, 136);
    border-radius: 3px;
    min-width: 3rem;
    color: rgb(81, 91, 96);
    background-color: rgb(231, 251, 230);
    font-size: 13px;
    line-height: 13px;
    font-family: "Noto Sans KR";
    font-style: normal;
}

.nickname {

	font-size: 13px;
	font-family: "Noto Sans KR";
    font-style: normal;

}

.classdate {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid rgb(0, 150, 136);
    border-radius: 3px;
    min-width: 3rem;
    color: rgb(81, 91, 96);
    background-color: rgb(230, 247, 251);
    font-size: 13px;
    line-height: 13px;
    font-family: "Noto Sans KR";
    font-style: normal;
}