<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>클래스 수정</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--웹 페이지 아이콘 변경-->
    <link rel="icon" th:href="@{/image/logo.ico}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet"> 
    <!--Bootstrap 용 CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--Quill CSS-->
    <link rel="stylesheet" th:href="@{/css/quill.snow.css}">
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/class/classinsert.css}">
    <!--Bootstrap 용 Icon CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--font awesome 용-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!--thymeleaf contextpath-->
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}" />
</head>

<body>
    <!-- header 영역 -->
    <header th:replace="~{header :: headerFragment}"></header>

    <!-- main 영역 -->
    <div id="wrapper">
        <form id="form_update" th:action="@{update.do( classcode=${obj.classcode} )}" method="post"
            enctype="multipart/form-data">
            <div class="container border-top">
                <div class="maincontent row">
                    <div class="leftside col-2" id="btn_cate">
                        <div class="left2 mt-5">
                            <button id="sidebar1" class="btn_c sidebar btn-outline-success m-3 active" type="button"
                                onclick="pagecate()">카테고리</button>
                            <br />
                            <button id="sidebar2" class="btn_c sidebar btn-outline-success m-3" type="button"
                                onclick="pageinstructor()">강사소개</button>
                            <br />
                            <button id="sidebar3" class="btn_c sidebar btn-outline-success m-3" type="button"
                                onclick="pageintro()">클래스소개</button>
                            <br />
                            <button id="sidebar4" class="btn_c sidebar btn-outline-success m-3" type="button"
                                onclick="pagecorri()">커리큘럼</button>
                            <br />
                            <button id="sidebar5" class="btn_c sidebar btn-outline-success m-3" type="button"
                                onclick="pageprice()">가격</button>
                            <br />
                        </div>
                    </div>

                    <div class="rightside col-10">
                        <!-- 메뉴 1 -->
                        <div id="menu1" class="container" style="display: block;">
                            <div class="mt-3"
                                style="border-bottom:2px dotted #bcbcbc; height: 40px; font-size: large; font-weight: bold;">
                                Step 1. 카테고리 및 주소 입력</div>
                            <div class="mt-3 d-flex flex-column">
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-5">
                                        <label class="mb-2 ms-1" for="cate1" style="font-weight:bold;">지역
                                            <h6 style="display:inline; color: #FF8E8E">(필수)</h6>
                                        </label>
                                        <select id="cate1" class="form-select" onchange="getLocalcate(this.value)">
                                            <option value="">지역을 선택하세요</option>
                                            <th:block th:each="obj : ${citylist}">
                                                <th:block th:if="${obj.code != 1}">
                                                    <option th:value="${obj.code}" th:text="${obj.cate}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <label class="mb-2 ms-1" for="cate2" style="font-weight:bold;">세부 지역
                                            <h6 style="display:inline; color: #FF8E8E">(필수)</h6>
                                        </label>
                                        <select id="localselect" class="form-select"
                                            onchange="setLocalcate(this.value)">
                                            <option value="">세부 지역을 선택하세요</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-4 justify-content-center">
                                    <div class="col-5">
                                        <label class="mb-2 ms-1" for="cate3" style="font-weight:bold;">종류
                                            <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                        </label>
                                        <select id="cate3" class="form-select" onchange="getActivitycate(this.value)">
                                            <option value="">종류를 선택하세요</option>
                                            <th:block th:each="obj : ${actlist}">
                                                <th:block th:if="${obj.code != 1}">
                                                    <option th:value="${obj.code}" th:text="${obj.cate}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <label class="mb-2 ms-1" for="cate4" style="font-weight:bold;">세부 종류
                                            <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                        </label>
                                        <select id="actdetailselect" class="form-select"
                                            onchange="setActcate(this.value)">
                                            <option value="">세부 종류를 선택하세요</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-4 justify-content-center">
                                    <div class="col-5">
                                        <div class="post">
                                            <input type="text" th:value="${obj.postcode}" id="sample6_postcode"
                                                placeholder="우편번호">
                                            <button type="button" class="btn btn-primary m-2"
                                                onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
                                            <h6 style="display:inline; color: #FF8E8E">(필수)</h6>

                                            <input type="text" th:value="${obj.address1}" class="my-3 w-100"
                                                id="sample6_address" placeholder="주소">
                                            <div class="d-flex justify-content-between mt-2">
                                                <input type="text" th:value="${obj.address2}" class=""
                                                    id="sample6_detailAddress" placeholder="상세주소">
                                                <input type="text" th:value="${obj.address3}" class=""
                                                    id="sample6_extraAddress" placeholder="참고항목">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5"></div>

                                </div>
                                <div class="changepage">
                                    <div class="btn_1">
                                        <button class="btn_after non-click btn" type="button"
                                            onclick="nextMenu1()">다음&raquo;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 메뉴2 -->
                        <div id="menu2" class="container" style="display: none;">
                            <div class="mt-3"
                                style="border-bottom:2px dotted #bcbcbc; min-height: 40px; font-size: large; font-weight: bold;">
                                Step 2. 강사 소개</div>
                            <div class="mt-3 d-flex flex-column">
                                <div class="row justify-content-center mt-3">
                                    <div class="col-10">
                                        <h6 style="display:inline; font-weight:bold;">프로필 이미지
                                            <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                        </h6>
                                        <div id="input-image" class="my-3">
                                            <img id="insert-img" th:src="@{/class/image(no=${profileImg})}"
                                                style="width: 200px; height: 150px; cursor: pointer;" class="mb-3"
                                                onclick="clickItemImage()" />
                                            <input type="file" name="profile" id="file" class="form-control w-50"
                                                onchange="changeItemImage(this)">
                                        </div>

                                        <div>
                                            <input type="button" value="등록" class="btn_image"
                                                onclick="insertItemImage()" style="display:none;" />
                                        </div>

                                        <div class="my-5">
                                            <h6 style="display:inline; font-weight:bold;">상호명 및 닉네임
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                            </h6>

                                            <input id="nickname" class="form-control w-50 my-3" type="text"
                                                th:value="${obj.nickname}" maxlength="50" placeholder="ex)나무이야기"
                                                autofocus required />
                                        </div>

                                        <div>
                                            <h6 style="display:inline; font-weight: bold;">강사 소개
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                            </h6>
                                            <!-- Create the editor container -->
                                            <div class="tool">
                                                <span> <img id="insert-img" th:src="@{/image/물음표.png}"
                                                        style="width: 20px; height: 20px; cursor: pointer;"> 도움말
                                                </span>
                                                <div class="tooltip-content">
                                                    <p>• 최소 30자이상 작성해주세요.</p>
                                                </div>
                                            </div>
                                            <div style="margin-top: 10px; background-color: white;">
                                                <div id="editor1" style="height: 300px;" th:utext="${obj.instructor}">
                                                    <!-- <p>자신의 경험,경력을 소개해주세요.^^</p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sns my-3">
                                            <p class="sns_2" style="font-weight:bold;">SNS 링크 (선택)</p>
                                            <!-- 가이드 라인 작성 -->
                                            <div class="tool">
                                                <span> <img id="insert-img" th:src="@{/image/물음표.png}"
                                                        style="width: 20px; height: 20px; cursor: pointer;"> 도움말
                                                </span>
                                                <div class="tooltip-content">
                                                    <p>• 강사님의 SNS 링크를 작성해 주세요.</p>
                                                    <p>• 클래스 홍보와 정보제공에 도움이 됩니다.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <input placeholder="https://instagram.com/sample" type="text" id="sns" th:value="${obj.sns}"
                                            class="form-control w-50" style="width: 350px; height: 35px;"><br>
                                        <!-- <input placeholder="https://blog.com/sample" type="text"
                                            class="form-control w-50" style="width: 350px; height: 35px;"> -->

                                        <div class="changepage">
                                            <div class="btn_1">
                                                <button class="btn_before btn non-click" type="button"
                                                    onclick="prevMenu2()">&laquo;이전</button>
                                                <button class="btn_after btn non-click" type="button"
                                                    onclick="nextMenu2()">다음&raquo;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 메뉴3 -->
                        <div id="menu3" class="container" style="display: none;">
                            <div class="mt-3"
                                style="border-bottom:2px dotted #bcbcbc; min-height: 40px; font-size: large; font-weight: bold;">
                                Step 3. 클래스 소개</div>
                            <div class="mt-3 d-flex flex-column">
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6 style="display:inline; font-weight:bold;">클래스 대표 이미지</h6>
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                                <div id="input-image" class="my-3">
                                                    <img id="insert_classMain" th:src="@{/class/image(no=${mainImg})}"
                                                        style="width: 300px; height: 200px; cursor: pointer;"
                                                        class="mb-3" onclick="clickClassMain()" />
                                                    <input type="file" name="classMain" id="file_classMain"
                                                        class="form-control w-100" onchange="changeClassMain(this)">
                                                </div>

                                                <div>
                                                    <input type="button" value="등록" class="btn_image"
                                                        onclick="insertItemImage()" style="display:none;" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <h6 style="display:inline; font-weight:bold;">추가 클래스 이미지</h6>
                                                <h6 style="display:inline; padding-right:50px; color: blue">(선택)</h6>
                                                <div class="my-3">
                                                    <!-- <button class="btn btn-sm btn-delete"
                                                        onclick="deleteImg()">삭제</button> -->
                                                    <div id="input-addimage" style="height: 200px;"
                                                        class="mb-3 border rounded w-100 d-flex flex-wrap">
                                                        <th:block th:each="subImg : ${subImg}">
                                                            <div class="container1" style="position: relative;">
                                                                <!-- <input type="checkbox" class="checkbox" id="check1"
                                                                    style="position: absolute; top:10px; right: 5px;"> -->
                                                                <img id="insert_classSub"
                                                                    th:src="@{/class/image(no=${subImg})}"
                                                                    style="width: 75px; height: 75px; cursor: pointer;"
                                                                    class="classsub mx-1 my-2"
                                                                    onclick="clickClassSub()" />
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                    <input type="file" multiple name="classSub" id="file_classSub"
                                                        class="form-control w-100" onchange="changeClassSub(event)">
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p style="display:inline; font-weight:bold;">클래스 제목</p>
                                            <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>

                                            <input type="text" th:value="${obj.title}" id="title"
                                                class="form-control w-50 my-3" maxlength="50"
                                                placeholder="ex)원데이 목공 클래스" autofocus required>
                                        </div>

                                        <div class="my-3">
                                            <h6 style="display:inline; font-weight:bold;">클래스 소개글
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                            </h6>
                                            <div class="tool my-3">
                                                <span> <img id="insert-img" th:src="@{/image/물음표.png}"
                                                        style="width: 20px; height: 20px; cursor: pointer;"> 도움말
                                                </span>
                                                <div class="tooltip-content">
                                                    <p>• 최소 30자이상 작성해주세요.</p>
                                                    <p>•작성 tip : 인사말 /본인 클래스만의 특징 /<br>
                                                        클래스의 장점 및 효과 / 클래스 난이도</p>
                                                </div>
                                            </div>
                                            <!-- Create the editor container -->
                                            <div style="margin-top: 10px; background-color: white;">
                                                <div id="editor2" th:utext="${obj.intro}" style="height: 300px;">
                                                    <!-- <p>클래스를 소개해주세요.^^</p> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="changepage">
                                            <div class="btn_1">
                                                <button class="btn_before btn non-click" type="button"
                                                    onclick="prevMenu3()">&laquo;이전</button>
                                                <button class="btn_after btn non-click" type="button"
                                                    onclick="nextMenu3()">다음&raquo;</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- 메뉴4 -->
                        <div id="menu4" class="container" style="display: none;">
                            <div class="mt-3"
                                style="border-bottom:2px dotted #bcbcbc; min-height: 40px; font-size: large; font-weight: bold;">
                                Step 4. 커리큘럼 작성</div>
                            <div class="mt-3 d-flex flex-column">
                                <div class="row justify-content-center mt-3">
                                    <div class="col-10">
                                        <div class="mb-3">
                                            <h6 style="display:inline; font-weight:bold;">커리큘럼 내용
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                            </h6>
                                            <div class="tool">
                                                <span> <img id="insert-img" th:src="@{/image/물음표.png}"
                                                        style="width: 20px; height: 20px; cursor: pointer;"> 도움말
                                                </span>
                                                <div class="tooltip-content">
                                                    <p>• 최소 20자이상 작성해주세요.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Create the editor container -->
                                        <div style="margin-top: 10px; background-color: white;">
                                            <div id="editor3" th:utext="${obj.curriculum}" style="height: 300px;">
                                                <!-- <p>
                                                    커리큘럼을 최소 2단계 이상 소개해주세요.^^<br />예시)<br /> STEP1. 수업 소개<br /> STEP2.
                                                    수업 내용<br /> STEP3. 수업 마무리
                                                </p> -->
                                                <br>
                                            </div>
                                        </div>
                                        <div class="changepage">
                                            <div class="btn_1">
                                                <button class="btn_before non-click btn" type="button"
                                                    onclick="prevMenu4()">&laquo;이전</button>
                                                <button class="btn_after non-click btn" type="button"
                                                    onclick="nextMenu4()">다음&raquo;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 메뉴5 -->
                        <div id="menu5" class="container" style="display: none;">
                            <div class="mt-3"
                                style="border-bottom:2px dotted #bcbcbc; min-height: 40px; font-size: large; font-weight: bold;">
                                Step 5. 기본 가격 입력</div>
                            <div class="mt-3 d-flex flex-column">
                                <div class="row justify-content-center mt-3">
                                    <div class="col-10">
                                        <div class="mb-3">
                                            <h6 style="display:inline; font-weight:bold;">가격
                                                <h6 style="display:inline; padding-right:50px; color: #FF8E8E">(필수)</h6>
                                            </h6>
                                            <div class="tool">
                                                <span> <img id="insert-img" th:src="@{/image/물음표.png}"
                                                        style="width: 20px; height: 20px; cursor: pointer;"> 도움말
                                                </span>
                                                <div class="tooltip-content">
                                                    <p>• 입문자를 기준으로 초기값을 입력하세요.</p>
                                                    <p>• 이후 추가금액 설정이 가능합니다.</p>
                                                </div>
                                            </div><br>

                                            <input id="price" th:value="${obj.price}" type="text" class="my-3"
                                                placeholder="금액을 입력하세요" maxlength="10" onkeypress="addCommas(this)"
                                                autofocus>
                                            <span style="font-size: 20px; margin-left: 2px;">원</span>
                                        </div>
                                        <div class="changepage">
                                            <div class="btn_1">
                                                <button class="btn_before btn non-click" type="button"
                                                    onclick="prevMenu5()">&laquo;
                                                    이전</button>
                                                <button class="btn_after btn" type="button"
                                                    onclick="updateClass()">수정</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:none;">
                            <input id="form_title" type="text" name="title">
                            <input id="form_postcode" type="text" name="postcode">
                            <input id="form_address1" type="text" name="address1">
                            <input id="form_address2" type="text" name="address2">
                            <input id="form_address3" type="text" name="address3">
                            <input id="form_price" type="number" name="price">
                            <input id="form_localcode" type="number" name="localcode">
                            <input id="form_actdetailcode" type="number" name="actdetailcode">
                            <input id="form_instructor" name="instructor">
                            <input id="form_intro" name="intro">
                            <input id="form_curriculum" name="curriculum">
                            <input id="form_nickname" type="text" name="nickname">
                            <input id="form_sns" type="text" name="sns">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--footer 영역-->
    <footer th:replace="~{footer :: footerFragment}"></footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <!--jQuery-->
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <!--axios library-->
    <script th:src="@{/js/axios.min.js}"></script>
    <!-- daum post bundle -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Include the Quill library -->
    <script th:src="@{/js/quill.js}"></script>
    <!--Bootstrap 용 js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        //  async function clickClassSub(no){
        //     let url = /*[[@{/api/classmanage/deleteone.json}]]*/"";
        //     url += `no=${no}`;
        //     const body = { 
        //                     no : no };
        //     const headers = {"Content-Type":"application/json"};
        //     const { data } = await axios.put(url, body, { headers:headers });
        //     console.log("no:", no);

        //     if(data.status === 200){
        //         alert("삭제가 완료되었습니다.");
        //         const deletedImg = document.getElementById(`unit-${no}`);
        //         if (deletedImg) {
        //             const parentDiv = deletedUnit.parentElement;
        //             if (parentDiv) {
        //                 parentDiv.style.border = "none";
        //                 parentDiv.style.backgroundColor = "transparent";
        //                 parentDiv.style.height = "0";
        //                 parentDiv.style.padding = "0";
        //                 parentDiv.style.marginTop = "0";

        //             }
        //             deletedUnit.remove();
        //         }
        //     }
        //     else {
        //         alert("삭제에 실패하였습니다.");
        //     }
        // };


        // 서브이미지 삭제 클릭
        $("#insert_classSub").on("click", ".imgDeleteBtn", function (e) {
            deleteImg();
        });

        const no = /*[[${subImg}]]*/"";
        async function clickClassSub() {
            console.log(no[0]);

            const url = /*[[@{/api/classmanage/deleteone.json}]]*/"";
            const body = { no: no[0] };
            const headers = { "Content-Type": "application/json" };
            const { data } = await axios.delete(url, { headers: headers, data: body });
            console.log('반환되는 결과', data);

            if (data != null ) {
                $(document).ready(function () {
                    $("img").click(function () {
                        $(this).attr('src', "");
                        alert("파일을 삭제하였습니다.")
                    })
                });
            }

        }

        /*<![CDATA[*/

        const contextPath = $('#contextPathHolder').attr('data-contextPath');

        var localcode = 0;
        var actcode = 0;

        // 페이지 로드 시, DB 데이터와 일치하는 카테고리 선택

        var citycode1 = /*[[${obj.citycode}]]*/'';
        var localcode1 = /*[[${obj.localcode}]]*/'';

        //console.log(citycode1);
        //console.log(localcode1);

        $("#cate1").val(citycode1).prop("selected", true);
        getLocalcate(citycode1);

        var activitycode1 = /*[[${obj.activitycode}]]*/'';
        var actdetailcode1 = /*[[${obj.actdetailcode}]]*/'';

        //console.log(activitycode1);
        //console.log(actdetailcode1);

        $("#cate3").val(activitycode1).prop("selected", true);
        getActivitycate(activitycode1);

        /* postcode */
        function sample6_execDaumPostcode() {
            new daum.Postcode(
                {
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== ''
                                && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== ''
                                && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', '
                                    + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample6_extraAddress").value = extraAddr;

                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress")
                            .focus();
                    }
                }).open();
        }

        // 지역 카테고리 함수
        async function getLocalcate(code) {
            //console.log(code);

            if (code == 1 || code == "") {
                $('#localselect').children('option').remove();
                $('#localselect').append('<option>전체</option>');
            }
            else {
                const url = contextPath + '/api/class/selectcatelist.json?refcode=' + code + '&chk=citycate';
                const headers = { "Content-Type": "application/json" };

                const { data } = await axios.get(url, { headers });

                $('#localselect').children('option').remove();

                $('#localselect').append('<option value="">세부 지역을 선택하세요</option>');

                var options = "";
                for (let obj of data.list) {
                    //console.log(obj.code);
                    if (obj.code % 100 !== 1) {
                        options += "<option value=" + obj.code + ">" + obj.localcate + "</option>";
                    }
                }
                $('#localselect').append(options);

                if (localcode1 !== null) {
                    $("#localselect").val(localcode1).prop("selected", true);
                    localcode1 = null;
                }
            }

        }

        function setLocalcate(code) {
            //console.log(code);
            code = document.getElementById("localselect").value;
        }


        // 종류 카테고리 함수
        async function getActivitycate(code) {
            console.log(code);

            if (code == 1 || code == "") {
                $('#actdetailselect').children('option').remove();
                $('#actdetailselect').append('<option>전체</option>');
            }
            else {
                const url = contextPath + '/api/class/selectcatelist.json?refcode=' + code + '&chk=classcate';
                const headers = { "Content-Type": "application/json" };

                const { data } = await axios.get(url, { headers });

                $('#actdetailselect').children('option').remove();

                $('#actdetailselect').append('<option value="">세부 종류를 선택하세요</option>');

                var options = "";
                for (let obj of data.list) {
                    //console.log(obj.code);
                    if (obj.code % 100 != 1) {
                        options += "<option value=" + obj.code + ">" + obj.actcate + "</option>";
                    }
                }
                $('#actdetailselect').append(options);

                if (actdetailcode1 !== null) {
                    $("#actdetailselect").val(actdetailcode1).prop("selected", true);
                    actdetailcode1 = null;
                }

            }
        }

        function setActcate(code) {
            //console.log(code);
            code = document.getElementById("actdetailselect").value;
        }

        /* 강사 소개 Quill */
        var toolbarOptions = [['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
            'header': 1
        }, {
            'header': 2
        }], // custom button values
        [{
            'list': 'ordered'
        }, {
            'list': 'bullet'
        }], [{
            'script': 'sub'
        }, {
            'script': 'super'
        }], // superscript/subscript
        [{
            'indent': '-1'
        }, {
            'indent': '+1'
        }], // outdent/indent
        [{
            'direction': 'rtl'
        }], // text direction

        [{
            'size': ['small', false, 'large', 'huge']
        }], // custom dropdown
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],

        [{
            'color': []
        }, {
            'background': []
        }], // dropdown with defaults from theme
        [{
            'font': []
        }], [{
            'align': []
        }],

        ['clean'] // remove formatting button
        ];

        // 위쪽에 있는 태그중에서 id가 editor인것을 찾아서 toolbar는 toolbarOptions의 값으로 대체하고 태마를 snow로 해서 변경
        const quill1 = new Quill('#editor1', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        /* 클래스 소개 Quill */
        var toolbarOptions = [['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
            'header': 1
        }, {
            'header': 2
        }], // custom button values
        [{
            'list': 'ordered'
        }, {
            'list': 'bullet'
        }], [{
            'script': 'sub'
        }, {
            'script': 'super'
        }], // superscript/subscript
        [{
            'indent': '-1'
        }, {
            'indent': '+1'
        }], // outdent/indent
        [{
            'direction': 'rtl'
        }], // text direction

        [{
            'size': ['small', false, 'large', 'huge']
        }], // custom dropdown
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],

        [{
            'color': []
        }, {
            'background': []
        }], // dropdown with defaults from theme
        [{
            'font': []
        }], [{
            'align': []
        }],

        ['clean'] // remove formatting button
        ];

        const quill2 = new Quill('#editor2', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });


        /* 커리큘럼 Quill */
        var toolbarOptions = [['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
            'header': 1
        }, {
            'header': 2
        }], // custom button values
        [{
            'list': 'ordered'
        }, {
            'list': 'bullet'
        }], [{
            'script': 'sub'
        }, {
            'script': 'super'
        }], // superscript/subscript
        [{
            'indent': '-1'
        }, {
            'indent': '+1'
        }], // outdent/indent
        [{
            'direction': 'rtl'
        }], // text direction

        [{
            'size': ['small', false, 'large', 'huge']
        }], // custom dropdown
        [{
            'header': [1, 2, 3, 4, 5, 6, false]
        }],

        [{
            'color': []
        }, {
            'background': []
        }], // dropdown with defaults from theme
        [{
            'font': []
        }], [{
            'align': []
        }],

        ['clean'] // remove formatting button
        ];

        const quill3 = new Quill('#editor3', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        /****** 이미지 함수 ******/

        /*** 프로필 이미지  ***/

        function clickItemImage() {
            document.getElementById("file").click();
        }
        function changeItemImage(e) {
            const img = document.getElementById("insert-img");
            console.log(e.files);
            if (e.files.length > 0) {

                img.src = URL.createObjectURL(e.files[0]);

                console.log(URL.createObjectURL(e.files[0]));
            }
            else {
                // 이미지 첨부 취소 시, 이미지 제거
                img.src = contextPath + '/image/default.png';
            }
        }

        function insertItemImage() {
            const file = document.getElementById("file").value;
            console.log(file);
            if (file === "") {
                alert("이미지 파일을 첨부하세요.");
                return false;
            }
            else {
                const form = document.getElementById("form");
                form.submit();
            }
        }

        /*** 클래스 메인 이미지  ***/

        function clickClassMain() {
            document.getElementById("file_classMain").click();
        }

        function changeClassMain(e) {
            const img = document.getElementById("insert_classMain");

            console.log(e.files);

            if (e.files.length > 0) {

                img.src = URL.createObjectURL(e.files[0]);

                console.log(URL.createObjectURL(e.files[0]));
            }
            else {
                // 이미지 첨부 취소 시, 이미지 제거
                img.src = contextPath + "/image/default.png";
            }
        }

        /*** 클래스 서브 이미지  ***/

        var append_files = [];

        function changeClassSub(e) {

            var files = e.target.files;

            console.log(files);

            var filesArray = Array.prototype.slice.call(files);

            filesArray.forEach(function (f) {

                if (!f.type.match("image.*")) {
                    alert("파일은 이미지 확장자만 가능합니다.");
                    return;
                }

                console.log(append_files.length);
                console.log($("#file_classSub"));

                if (append_files.length + 1 > 10) {
                    alert("클래스 이미지는 10개까지 등록이 가능합니다.");
                    return;
                }

                append_files.push(f);

                var reader = new FileReader();

                reader.onload = function (e) {

                    var add_img = $('<img class="mx-1 my-2">');
                    add_img.attr("src", e.target.result);
                    add_img.css("width", "75px");
                    add_img.css("height", "75px");


                    $("#input-addimage").append(add_img);
                };
                reader.readAsDataURL(f);
            });
        }


        /* 세자리 단위 콤마입력 함수 */
        function addCommas(x) {
            console.log(x);
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        const price = "";
        Number(price).toLocaleString();
        $("#price:text").on("input", function () {
            $(this).val(addCommas($(this).val().replace(/[^0-9]/g, "")));
        });

        /* 페이지 이동 함수 */

        // 페이지 이동 시, 사이드바 CSS 변경
        $(".sidebar").click(function () {
            $(".sidebar").removeClass("active");
            $(this).addClass("active");
        });

        function pagecate() {

            $('#menu1').css('display', 'block');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');
        }
        function pageinstructor() {
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'block');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');
        }
        function pageintro() {
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'block');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');
        }
        function pagecorri() {
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'block');
            $('#menu5').css('display', 'none');
        }
        function pageprice() {
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'block');
        }

        /* 다음, 이전 함수 */
        function nextMenu1() {
            const cate1 = $('#cate1');
            const cate2 = $('#localselect');
            const cate3 = $('#cate3');
            const cate4 = $('#actdetailselect');
            const postcode = document.getElementById("sample6_postcode");
            const detailAddress = document.getElementById("sample6_detailAddress");

            //console.log(cate1.val());
            //console.log(cate2.val());

            if (cate1.val() <= 1) {
                alert('지역을 선택하세요');
                cate1.focus();
                return false; 	// 함수 종료
            }

            if (cate2.val() === "") {
                alert('세부 지역을 선택하세요');
                $('#cate2').focus();
                return false; 	// 함수 종료
            }

            if (cate3.val() <= 1) {
                alert('종류를 선택하세요');
                cate3.focus();
                return false; 	// 함수 종료
            }
            if (cate4.val() === "") {
                alert('세부 종류를 선택하세요');
                cate4.focus();
                return false; 	// 함수 종료
            }

            if (postcode.value.length <= 0) {
                alert('우편번호를 입력하세요.');
                postcode.focus();
                return false;
            }
            if (detailAddress.value.length <= 0) {
                alert('상세주소를 입력하세요.');
                detailAddress.focus();
                return false;
            }

            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'block');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar2").addClass("active");

        }

        function prevMenu2() {
            $('#menu1').css('display', 'block');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar1").addClass("active");

        }

        function nextMenu2() {
            const file = document.getElementById("file");
            const nickname = document.getElementById("nickname");
            const content = quill1.root.innerHTML;
            const content_length = quill1.getLength();
            console.log(content_length);
            console.log(content);

            // if (file.value === "") {
            //     alert("이미지 파일을 첨부하세요.");
            //     return false;
            // }
            if (nickname.value === "") {
                alert("상호명을 작성하세요.");
                nickname.focus();
                return false;
            }
            if (content_length.value < 30) {
                alert("강사소개를 작성하세요.");
                return false;
            }

            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'block');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar3").addClass("active");

        }

        function prevMenu3() {

            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'block');
            $('#menu3').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar2").addClass("active");

        }

        function nextMenu3() {
            const title = document.getElementById("title");
            const content = quill2.root.innerHTML;
            const content_length2 = quill2.getLength();

            if (title.value === "") {
                alert("클래스 제목을 작성하세요.");
                title.focus();
                return false;
            }
            if (content_length2 < 30) {
                alert("클래스 소개를 작성하세요.");
                content.focus();
                return false;
            }
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'block');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar4").addClass("active");

        }

        function prevMenu4() {
            $('#menu3').css('display', 'block');
            $('#menu4').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar3").addClass("active");

        }

        function nextMenu4() {
            const content = quill3.root.innerHTML;
            const content_length3 = quill3.getLength();

            if (content_length3 < 20) {
                alert("커리큘럼 내용을 작성하세요.");
                content.focus();
                return false;
            }
            $('#menu1').css('display', 'none');
            $('#menu2').css('display', 'none');
            $('#menu3').css('display', 'none');
            $('#menu4').css('display', 'none');
            $('#menu5').css('display', 'block');

            $(".sidebar").removeClass("active");
            $("#sidebar5").addClass("active");

        }

        function prevMenu5() {
            $('#menu4').css('display', 'block');
            $('#menu5').css('display', 'none');

            $(".sidebar").removeClass("active");
            $("#sidebar4").addClass("active");
        }

        function updateClass() {

            // 1. 아이디 선택자

            const cate1 = $('#cate1');
            const cate2 = $('#localselect');
            const cate3 = $('#cate3');
            const cate4 = $('#actdetailselect');
            const file = document.getElementById("file");
            const nickname = document.getElementById("nickname");
            const sns = document.getElementById("sns");
            const content = quill1.root.innerHTML;
            const content_length = quill1.getLength();
            const content_length2 = quill2.getLength();
            const content_length3 = quill3.getLength();
            const title = document.getElementById("title");
            const postcode = document.getElementById("sample6_postcode");
            const address1 = document.getElementById("sample6_address");
            const address2 = document.getElementById("sample6_detailAddress");
            const address3 = document.getElementById("sample6_extraAddress");
            const price = document.getElementById("price");
            const localcode = document.getElementById("localselect");
            const actdetailcode = document.getElementById("actdetailselect");

            console.log(nickname.value);


            /* console.log(title.value);
            console.log(postcode.value);
            console.log(address1.value);
            console.log(address2.value);
            console.log(address3.value);
            console.log(price.value.replace(/[^\d]+/g, ''));
            console.log(localcode.value);
            console.log(actcode.value); */

            // 2. quill 내용

            const instructor = quill1.root.innerHTML;
            const intro = quill2.root.innerHTML;
            const curriculum = quill3.root.innerHTML;

            /* console.log(instructor);
            console.log(intro);
            console.log(curriculum); */

            // 3. 유효성 검사
            if (cate1.val() <= 1) {
                alert('지역을 선택하세요');
                pagecate();
                return false; 	// 함수 종료
            }

            if (cate2.val() === "") {
                alert('세부 지역을 선택하세요');
                pagecate();
                return false; 	// 함수 종료
            }

            if (cate3.val() <= 1) {
                alert('종류를 선택하세요');
                pagecate();
                return false; 	// 함수 종료
            }
            if (cate4.val() === "") {
                alert('세부 종류를 선택하세요');
                pagecate();
                return false; 	// 함수 종료
            }

            if (postcode.value.length <= 0) {
                alert('우편번호를 입력하세요.');
                pagecate();
                return false;
            }

            if (address2.value.length <= 0) {
                alert('상세주소를 입력하세요.');
                pagecate();
                return false;
            }

            // if (file.value === "") {
            //     alert("이미지 파일을 첨부하세요.");
            //     pageinstructor();
            //     return false;
            // }

            if (nickname.value === "") {
                alert("상호명을 작성하세요.");
                pageinstructor()
                return false;
            }
            if (content_length.value < 30) {
                alert("강사소개를 작성하세요.");
                pageinstructor()
                return false;
            }

            if (title.value === "") {
                alert("클래스 제목을 작성하세요.");
                pageintro();
                return false;
            }

            if( content_length2 < 30) {
                alert("클래스 소개를 작성하세요.");
                pageintro();
                return false;
            } 
        	
            if( content_length3 < 20) {
                alert("커리큘럼 내용을 작성하세요.");
                pagecorri();
                return false;
            }

            if (price.value.length <= 0) {
                alert("금액을 입력하세요.");
                price.focus();
                return false;
            }

            // 4. 동적 form 태그 생성

            var form = document.getElementById("form_update");

            document.getElementById("form_title").value = title.value;
            document.getElementById("form_postcode").value = postcode.value;
            document.getElementById("form_address1").value = address1.value;
            document.getElementById("form_address2").value = address2.value;
            document.getElementById("form_address3").value = address3.value;
            document.getElementById("form_price").value = price.value.replace(/[^\d]+/g, '');
            document.getElementById("form_localcode").value = localcode.value;
            document.getElementById("form_actdetailcode").value = actdetailcode.value;
            document.getElementById("form_instructor").value = instructor;
            document.getElementById("form_intro").value = intro;
            document.getElementById("form_curriculum").value = curriculum;
            document.getElementById("form_nickname").value = nickname.value;
            document.getElementById("form_sns").value = sns.value;

            console.log($("#form_nickname").val());
            // 5. 전송

            form.submit();
        }

        /*]]>*/
    </script>
    <!--Main js-->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>