html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    position: relative;
}

* {
    box-sizing: border-box;
}

h3 {
    font-size: 25px;
}

p,
span {
    margin: 0;
}

a {
    color: black;
}

.cart__list__detail img {
    display: block;
    width: 80%;
    height: 80px;
    margin: auto;
}

.cart {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.cart__list {
    background-color: white;
}

.cart ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
}

.cart ul :first-child {
    color: limegreen;
}

table {
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead {
    text-align: center;
    font-weight: bold;
}

tbody {
    font-size: 12px;
}

td {
    padding: 15px 0px;
    border-bottom: 1px solid lightgrey;
}



.cart__list__smartstore {
    font-size: 12px;
    color: gray;
}

.cart__list__option {
    vertical-align: top;
    padding: 20px;
}

.cart__list__option p {
    margin-bottom: 25px;
    position: relative;
}

.cart__list__option p::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    left: 0px;
    top: 25px;
    position: absolute;
}

.cart__list__optionbtn {
    background-color: white;
    font-size: 15px;
    border: lightgrey solid 1px;
    padding: 10px;
}

.cart__list__optionbtn:hover {
    background-color: green;
    color: white;
}

.cart__list__detail :nth-child(1),
.cart__list__detail :nth-child(2),
.cart__list__detail :nth-child(3),
.cart__list__detail :nth-child(4),
.cart__list__detail :nth-child(5) {
    text-align: center;
}

.cart__list__detail :nth-child(3) {
    vertical-align: top;
}

.cart__list__detail :nth-child(3) a {
    font-size: 12px;
}

.cart__list__detail :nth-child(3) p {
    margin-top: 6px;
    font-weight: bold;
}

.cart__list__detail :nth-child(4),
.cart__list__detail :nth-child(5),
.cart__list__detail :nth-child(6) {
    border-left: 2px solid whitesmoke;
    text-align: center;
}

.cart__list__detail :nth-child(5) button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
}

.cart__list__detail2 :nth-child(3) p {
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

.cart__list__detail2 :nth-child(4),
.cart__list__detail2 :nth-child(5),
.cart__list__detail2 :nth-child(6) {
    border-left: 2px solid whitesmoke;
    text-align: center;
}

.cart__list__detail2 :nth-child(1),
.cart__list__detail2 :nth-child(2),
.cart__list__detail2 :nth-child(3),
.cart__list__detail2 :nth-child(4),
.cart__list__detail2 :nth-child(5) {
    text-align: center;
}

.cart__list__detail2 :nth-child(5) button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
}

.cart__list__detail3 :nth-child(1),
.cart__list__detail3 :nth-child(5) {
    text-align: center;
}

.totalprice {
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}

.cart__mainbtns {
    width: 420px;
    height: 200px;
    padding-top: 40px;
    display: block;
    margin: auto;
}

.cart__bigorderbtn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
}

.cart__bigorderbtn.left {
    background-color: white;
    border: 1px lightgray solid;
}

.cart__bigorderbtn.right {
    background-color: green;
    color: white;
    border: none;
}

/* button {
    background-color: #F9B514;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  } */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.openBtn {
    padding: 7px;
    font-size: 10px;
    background-color: green;
    color: white;
    border: none;
}

.date:before {
    content: "일자 : ";
}

.starttime:before {
    content: "시작시간 : ";
}

.endtime:before {
    content: "종료시간 : ";
}

.level:before {
    content: "난이도 : ";
}

.addprice:before {
    content: "1인당 가격 : ";
}

.cnt {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 0 auto;


}