<div th:fragment="menu_apply" class="col-md-8" style="margin-left: 30px">

  <!--******************************* 1. 통계 박스 ********************************-->
  <link rel="stylesheet" th:href="@{/css/member/detailview.css}" />
  <link rel="stylesheet" th:href="@{/css/member/menu_apply.css}" />
  <style>
    /* 처리상태 count box(상단) */
    .box {
      width: 80%;
      height: 150px;
      background: #fff;
      border-radius: 15px;
      margin: 20px;
    }

    .box h3 {
      padding-top: 10px;
      text-align: center;
      font-weight: bold;
      font-size: large;
    }

    .box h1 {
      padding-top: 12px;
      text-align: center;
      font-size: 50px;
    }

    .effect {
      -webkit-box-shadow: 0 5px 6px -6px #777;
      -moz-box-shadow: 0 5px 6px -6px #777;
      box-shadow: 0 5px 6px -6px #777;
    }
  </style>

  <div class="row-md-3">
    <p style="font-weight: bolder; font-size: large">신청내역</p>
    <div class="row" style="background-color: honeydew; border-radius: 15px">
      <div class="col-sm-4">
        <div class="box effect">
          <h3>결제완료</h3>
          <h1 th:text="${chk1}"></h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box effect">
          <h3>결제취소</h3>
          <h1 th:text="${chk2}"></h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box effect">
          <h3>참여완료</h3>
          <h1 th:text="${chk3}"></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row-md-9" style="margin-top: 50px">
    <hr />
    <div style="display: inline-block; margin-top: 40px; width: 100%">
      <div style="float: left; font-weight: bold">| 신청 클래스 정보</div>
      <div style="float: right">
        <div class="btn-group" role="group">

          <select class="form-select" style="width: 120px;" onchange="selectoption(this.value)">

            <option value="0" selected>전체</option>
            <option value="1" th:selected="${#strings.equals(param.chk, '1')}">결제완료</option>
            <option value="2" th:selected="${#strings.equals(param.chk, '2')}">결제취소</option>
            <option value="3" th:selected="${#strings.equals(param.chk, '3')}">참여완료</option>

          </select>


        </div>
        <!-- <div class="btn-group" role="group">
          <select class="form-select" style="width: 100px;" onchange="selectorder(this.value)">

            <option value="1">최신순</option>
            <option value="2">오래된순</option>

          </select>
        </div> -->
      </div>
    </div>
  </div>


  <!--************* 2. 테이블 ******************-->
  <style>
    .center {
      text-align: center;
    }
  </style>

  <th:block th:if="${#lists.isEmpty(list)}">

    <h3 class="mt-5 text-center">클래스 신청 내역이 없습니다.</h3>

  </th:block>

  <th:block th:if="${!#lists.isEmpty(list)}">
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: rgb(219, 217, 217); text-align: center">
          <th>결제일자</th>
          <th>이미지</th>
          <th>신청 정보</th>
          <th>결제금액</th>
          <th>처리상태</th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle" id="tbody">
        <tr th:each="obj : ${list}">
          <td class="center">
            <p th:text="${#dates.format(obj.regdate,'yyyy-MM-dd')}"></p>
            <div style="display: flex; flex-direction: column; align-items: center">
              <button class="btn btn-sm btn-outline-success" style="height: 30px; width: 90px"
                th:onclick="modalAction1([[${obj.no}]], [[${obj.chk}]])">
                상세보기
              </button>
            </div>
          </td>
          <td class=" center">
            <img th:src="@{/member/image(classcode=${obj.classcode})}" style="width: 100px; height: 100px" />
          </td>
          <td style="font-size: small">
            <div class="mb-2"><a th:text="|<${obj.title}>|" class="a_underline" th:href="@{/class/product.do(classcode=${obj.classcode})}"></div>
            </a>
            <div id="classdate1" th:text=" '날짜: ' + ${obj.classdate}"></div>
            <div th:text=" '시간: ' + ${obj.classstart} + '~' + ${obj.classend}"></div>
            <div th:text=" '난이도: ' + ${obj.classlevel}"></div>
            <div th:text=" '금액(1인): ' + ${obj.price}+'원'"></div>
            <div th:text=" '신청인원: ' + ${obj.person}+'명'"></div>
          </td>
          <td th:text="|${#numbers.formatInteger(obj.payment, 3, 'COMMA')}원|" style="font-weight: bold" class="center"></td>
          <td class="center">

            <p th:if="${obj.chk} == 1" style="text-align: center">결제완료 </p>
            <p th:if="${obj.chk} == 2" style="text-align: center">결제취소 </p>
            <p th:if="${obj.chk} == 3 or ${obj.chk} == 4" style="text-align: center">참여완료 </p>

            <button th:if="${obj.chk} == 3" class="btn btn-sm btn-secondary" type="button"
              style="height: 30px; width: 90px" th:onclick="modalAction([[${obj.no}]],[[${obj.classcode}]],[[${obj.price}]], [[${obj.title}]],  [[${obj.classdate}]],[[${obj.classlevel}]], [[${obj.classstart}]], [[${obj.classend}]])">
              리뷰작성
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <ul id="pagination-demo" class="pagination-sm"></ul>
      </div>
    </div>
  </th:block>

  <!-- 리뷰 모달 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #008000;">
          <div class="me-auto"></div>
          <h4 class="text-white align-middle">리뷰 작성</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:action="@{/review/insert.do}" id="myform" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row d-flex flex-nowrap" style="height: 110px">
                <div class="row col-md-6 mx-3" style="border: 1px solid #d3d3d3">
                  <img class="mt-2" id="mainimage1" style="
                      width: 110px;
                      height: 90px;
                      position: relative;
                      left: -15px;
                    " />

                  <!-- 클래스 간략한 정보 -->
                  <div class="reviewcontent col-8 mt-2" style="height: 90px; position: relative; left: -15px">
                    <div class="summary d-flex-nowrap">
                      제목 : <span id="title"></span>
                    </div>
                    <div class="summary">
                      날짜: <span id="classdate"></span>
                    </div>
                    <div class="summary">
                      시간: <span id="classstart"></span> ~ <span id="classend"></span>
                    </div>
                    <div class="summary">
                      난이도: <span id="classlevel"></span>
                    </div>
                    <div class="summary">
                      가격: <span id="price"></span>
                    </div>
                    <input class="summary d-none" id="no" name="no" type="block" />
                  </div>
                </div>

                <!-- 별점 레이팅 -->
                <div class="col-md-6">
                  <fieldset>
                    <input type="radio" name="rating" value="5" id="rate1" /><label for="rate1">★</label>
                    <input type="radio" name="rating" value="4" id="rate2" /><label for="rate2">★</label>
                    <input type="radio" name="rating" value="3" id="rate3" /><label for="rate3">★</label>
                    <input type="radio" name="rating" value="2" id="rate4" /><label for="rate4">★</label>
                    <input type="radio" name="rating" value="1" id="rate5" /><label for="rate5">★</label>
                  </fieldset>
                </div>
              </div>

              <!-- 에디터 -->
              <div class="mt-2">
                <div>
                  <div style="margin-top: 10px; background-color: white">
                    <div id="editor" name="content" style="height: 300px"></div>
                  </div>
                </div>

                <input class="form-control" type="file" name="files" id="click_reviewimage1" style="display: none"
                  onchange="readURL1(this)" />
                <input class="form-control" type="file" name="files" id="click_reviewimage2" style="display: none"
                  onchange="readURL2(this)" />
                <input class="form-control" type="file" name="files" id="click_reviewimage3" style="display: none"
                  onchange="readURL3(this)" />
                <input class="form-control" type="file" name="files" id="click_reviewimage4" style="display: none"
                  onchange="readURL4(this)" />

                <!-- 리뷰 이미지(image) -->
                <div class="d-flex justify-content-between mt-2" id="labels">
                  <div>
                    <img for="file1" id="insert_reviewimage1" class="d-sm-inline-flex mx-2 mt-2" style="
                        border: 1px dashed gray;
                        width: 160px;
                        height: 150px;
                      " th:src="@{/image/default.png}" onclick="preview1(this)" />
                  </div>
                  <div>
                    <img for="file1" id="insert_reviewimage2" class="d-sm-inline-flex mx-2 mt-2" style="
                        border: 1px dashed gray;
                        width: 160px;
                        height: 150px;
                      " th:src="@{/image/default.png}" onclick="preview2()" />
                  </div>
                  <div>
                    <img for="file1" id="insert_reviewimage3" class="d-sm-inline-flex mx-2 mt-2" style="
                        border: 1px dashed gray;
                        width: 160px;
                        height: 150px;
                      " th:src="@{/image/default.png}" onclick="preview3()" />
                  </div>
                  <div>
                    <img for="file1" id="insert_reviewimage4" class="d-sm-inline-flex mx-2 mt-2" style="
                        border: 1px dashed gray;
                        width: 160px;
                        height: 150px; 
                      " th:src="@{/image/default.png}" onclick="preview4()" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-none" value="등록하기" style="
                    background-color: #008000;
                    position: relative;
                    left: -250px;
                    width: 250px;
                    height: 70px;
                    font-size: larger;
                    font-weight: bold;
                    color: white;" onclick="getEditorContent();" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 신청 내역 상세 보기 Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class=" col d-inline">
            <img class="logo1" th:src="@{/image/logo.svg}" />
          </div>
          <h1 class="title mt-4" id="exampleModalLabel">주문 상세</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row d-flex " style="height: auto;">
              <form th:action="@{/apply/cancel.do}" id="form1" method="POST">
                <input class="date mt-1" id="applyregdate1" disabled />
                <div class="hr1"></div>
                <img class="mainimage1 mt-3 mx-3" name="mainimage" id="mainimage2" />
                <div class="reviewcontent1 col-9 mt-3 "
                  style="height: 90px; position: relative; left: 110px; top: -110px;">
                  <div class="summary1 mx-1" style="width: 300px;">
                    <input id="title1" type="text" disabled style="width: 280px;" />
                  </div>
                  <div class="summary1 mx-2 mt-1">
                    날짜: <input id="classdate2" disabled type="text" />
                  </div>
                  <div class="summary1 mx-2 mt-1">
                    시간: <input id="classstart1" disabled type="text" />
                  </div>
                  <div class="summary1 mx-2 mt-1">
                    난이도: <input id="classlevel1" disabled type="text" />
                  </div>
                  <div class="summary1 mx-2 mt-1">
                    가격: <input id="price1" disabled type="text" />
                  </div>
                </div>
                <div class="hr2 mt-4"></div>
                <div class="detail">결제정보</div>
                <div class="detail-1 mx-2 mt-1">
                  결제날짜 : <input class="detail-3" id="applyregdate2" disabled type="text" />
                </div>
                <div class="detail-1 mx-2 mt-2">
                  클래스금액(1인) : <input class="detail-3" id="price2" disabled type="text" />
                </div>
                <div class="detail-1 mx-2 mt-2">
                  신청인원 : <input class="detail-3" id="person1" name="person" disabled type="text" />
                </div>
                <div class="detail-1 mx-2 mt-2">
                  총결제 : <input class="detail-3" id="payment1" disabled type="text" />
                </div>
                <div class="detail-1 mx-2 mt-2">
                  처리상태 : <input class="chk detail-3" disabled id="chk1" /></div>
                <div class="hr3 mt-2 mb-2"></div>

                <div id="cancle">
                  <div class="detail mt-4">결제취소정보</div>
                  <div class="detail-1 mx-2 mt-1">
                    취소일자 : <input class="detail-3" id="cancledate1" disabled type="text" />
                  </div>
                  <div class="detail-1 mx-2 mt-1">
                    클래스금액(1인) : <input class="detail-3" id="price3" disabled type="text" />
                  </div>
                  <div class="detail-1 mx-2 mt-2">
                    신청인원 : <input class="detail-3" id="person2" disabled type="text" />
                  </div>
                  <div class="detail-1 mx-2 mt-2">
                    환불금액 : <input class="detail-3" id="payment2" disabled type="text" style="color: red;" />
                  </div>
                  <div class="hr3"></div>
                </div>

                <button id="applycancelbtn" class="chkbtn btn btn-sm btn-danger float-end" type="button"
                  style="height: 30px; width: 90px; display:none;" onclick="cancelAction()">신청취소</button>

                <input type="hidden" id="no1" name="no">
                <input type="hidden" id="classcode1" name="classcode">
                <input type="hidden" id="unitno1" name="unitno">
                <input type="hidden" id="person3" name="person">
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- 스크립트 -->
  <script th:src="@{/js/quill.js}"></script>
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/member/mypage_apply.js}"></script>

  <!-- 신청페이지 조회 -->
  <script th:inline="javascript">

    var pages = /*[[${pages}]]*/'';
    var chk = /*[[${param.chk}]]*/'';

    function selectoption(chk) {
      
      //console.log(chk);

      if(chk === 0) {
        window.location.href = "mypage.do?menu=1&page=1";
      }
      else {
        window.location.href = `mypage.do?menu=1&page=1&chk=${chk}`;
      }
      
    }

    $(document).ready(function () {
      $('#pagination-demo').twbsPagination({
        totalPages: Number(pages),
        visiblePages: 10,
        first: '처음',
        last: '마지막',
        prev: '이전',
        next: '다음',
        initiateStartPageClick: false,
        startPage: Number(/*[[${param.page}]]*/),

        // 주소창에서 page 값을 받아옴 -> 그 값에 해당하는 목록 버튼이 활성

        onPageClick: function (event, page) {
          
          if(chk === null) {
            window.location.href = `mypage.do?menu=1&page=${page}`;
          }
          else {
            window.location.href = `mypage.do?menu=1&page=${page}&chk=${chk}`;
          }
          
          
        }
      });
    });

  </script>
</div>